<div class="post">
  <div class="post-header">
    <div class="user-info">
      <div class="avatar-wrapper">
        <img
          class="user-info__img"
          *ngIf="user"
          src="{{
            user.avatar || '../../../../../../assets/images/default-avatar.jpg'
          }}"
          alt="avatar"
        />
      </div>
      <div class="info">
        <p class="info__name" *ngIf="user" (click)="goToProfile()">
          {{ user.firstName }} {{ user.lastName }}
        </p>
        <p class="info__date" *ngIf="post">
          {{ post.timestamp | date : "medium" }}
        </p>
      </div>
    </div>
    <div [ngClass]="!isCurrentUser ? 'dp-n' : 'mat-btn-wrapper'">
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large white fixed-action-btn__btn-more_a">
          <i class="large material-icons fixed-action-btn__btn-more_i"
            >more_horiz</i
          >
        </a>
        <ul class="fixed-action-btn__items">
          <li (click)="editPost()">
            <a class="btn-floating yellow darken-1"
              ><i class="material-icons">mode_edit</i></a
            >
          </li>
          <li (click)="openModal()">
            <a class="btn-floating red"><i class="material-icons">delete</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="post-content">
    <p>
      <quill-view-html [content]="post.content"></quill-view-html>
    </p>
  </div>
  <div class="buttons-row">
    <hr class="buttons-row__hr" />
    <div class="buttons-wrapper">
      <button class="buttons-wrapper__btn no-like">
        <i class="material-icons">thumb_up</i>Like</button
      ><button class="buttons-wrapper__btn" (click)="toggleComments()">
        <i class="material-icons">comment</i> Comments
      </button>
    </div>
    <hr class="buttons-row__hr" />
  </div>
  <div class="comments" *ngIf="isShowComments">
    <div class="comments-list" *ngIf="post.comments">
      <app-comment
        *ngFor="let comment of post.comments"
        [comment]="comment"
        (onDelete)="deleteComment($event)"
      ></app-comment>
    </div>
    <hr class="comments__hr" *ngIf="!!post.comments.length" />
    <form class="comment-form" [formGroup]="form" (submit)="addComment()">
      <quill-editor
        [modules]="modules"
        placeholder="Write a comment"
        formControlName="content"
      ></quill-editor>
      <button type="submit" class="comments__add-btn" [disabled]="form.invalid">
        Comment
      </button>
    </form>
  </div>
</div>

<div id="modal" class="modal" #modal>
  <div class="modal-content">
    <h4>Delete post</h4>
    <quill-view-html [content]="post.content"></quill-view-html>
  </div>
  <div class="modal-footer">
    <button class="modal-close waves-effect waves-green btn-flat">
      Cancel
    </button>
    <button
      class="modal-close waves-effect waves-green btn-flat"
      (click)="deletePost()"
    >
      Delete
    </button>
  </div>
</div>
