@import "../../../../styles/variables.scss";

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: $color-white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px 30px;
}

.avatar-wrapper {
  width: 60px;
  height: 60px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  &__btn {
    align-self: flex-start;
  }
}

.user-info {
  display: flex;
  gap: 20px;
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: $main-text-color;
  &__name {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  &__date {
    font-size: 14px;
    opacity: 0.5;
    font-weight: 300;
  }
}

.post-content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.travolta {
  width: 30%;
  align-self: center;
}

.fixed-action-btn {
  position: static;
  &__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }
  &__btn-more {
    &_i {
      color: $main-text-color;
      font-size: 3rem;
    }
    &_a {
      box-shadow: none;
      opacity: 0.5;
    }
  }
}

.buttons-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__hr {
    border: none;
    height: 1px;
    background: $main-text-color;
    width: 100%;
    opacity: 0.5;
  }
}

.buttons-wrapper {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  width: 100%;
  &__btn {
    gap: 10px;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    font-size: 1rem;
    color: $main-text-color;
    line-height: 16px;
    cursor: pointer;
  }
}

.no-like {
  color: lightgray;
}

.like {
  color: $main-text-color;
}

// COMMENTS

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__add-btn {
    align-self: flex-end;
    @include main-btn-orange(100px, 40px, 16px);
  }

  &__hr {
    border: none;
    height: 1px;
    background: $main-text-color;
    width: 100%;
    opacity: 0.5;
  }
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal{
  width: 800px;
}



