<div class="edit-page">
  <h2 class="edit-page__title">My profile</h2>
  <hr />
  <div class="details">
    <nav class="nav-bar">
      <ul class="tabs" #tabs>
        <li class="tab col s3">
          <a class="active" href="#main-info">Main info</a>
        </li>
        <li class="tab col s3"><a href="#privacy">Private info</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="main-info" id="main-info">
        <h5 class="main-info__title">Personal details</h5>

        <div class="avatar avatar-wrapper">
          <img
            class="avatar__img"
            *ngIf="avatarPreview"
            [src]="avatarPreview"
          />
          <img
            class="avatar__img"
            *ngIf="!avatarPreview"
            [src]="
              currentAvatar
                ? currentAvatar
                : '../../assets/images/default-avatar.jpg'
            "
          />
          <div class="edit-avatar-btn" (click)="triggerClickInput()">
            <i class="material-icons small">add_a_photo</i>
            <input
              type="file"
              (change)="onFileUpload($event)"
              #input
              style="display: none"
            />
          </div>
        </div>
        <form
          id="test1"
          class="form"
          [formGroup]="form"
          (submit)="updateUser()"
        >
          <div class="inputs-wrapper col s12">
            <div class="row">
              <div
                class="input-field col s6"
                [ngClass]="{
                  invalid:
                    form.get('firstName').invalid &&
                    form.get('firstName').touched
                }"
              >
                <i class="material-icons prefix">account_circle</i>
                <input
                  id="firstName"
                  type="text"
                  class="validate text-input"
                  formControlName="firstName"
                />
                <label for="firstName">First Name*</label>
                <div class="error-p helper-text">
                  <p
                    *ngIf="
                      form.get('firstName').invalid &&
                      form.get('firstName').touched
                    "
                  >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('firstName').errors['required']"
                      >First name is required!</span
                    >
                  </p>
                </div>
              </div>
              <div
                class="input-field col s6"
                [ngClass]="{
                  invalid:
                    form.get('lastName').invalid && form.get('lastName').touched
                }"
              >
                <i class="material-icons prefix">account_circle </i>
                <input
                  id="lastName"
                  type="text"
                  class="validate text-input"
                  formControlName="lastName"
                />
                <label for="lastName">Last Name*</label>
                <div class="error-p helper-text">
                  <p
                    *ngIf="
                      form.get('lastName').invalid &&
                      form.get('lastName').touched
                    "
                  >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('lastName').errors['required']"
                      >Last name is required!</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="input-field col s6"
                [ngClass]="{
                  invalid:
                    form.get('country').invalid && form.get('country').touched
                }"
              >
                <i class="material-icons prefix">location_on</i>
                <input
                  id="country"
                  type="text"
                  class="validate text-input"
                  formControlName="country"
                />
                <label for="country">Country*</label>
                <div class="error-p helper-text">
                  <p
                    *ngIf="
                      form.get('country').invalid && form.get('country').touched
                    "
                  >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('country').errors['required']"
                      >Country is required!</span
                    >
                  </p>
                </div>
              </div>
              <div
                class="input-field col s6"
                [ngClass]="{
                  invalid: form.get('city').invalid && form.get('city').touched
                }"
              >
                <i class="material-icons prefix">location_city</i>
                <input
                  id="city"
                  type="text"
                  class="validate text-input"
                  formControlName="city"
                />
                <label for="city">City*</label>
                <div class="error-p helper-text">
                  <p
                    *ngIf="form.get('city').invalid && form.get('city').touched"
                  >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('city').errors['required']"
                      >City is required!</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input
                  id="tel"
                  type="tel"
                  class="validate text-input"
                  formControlName="mobileNumber"
                />
                <label for="tel">Telephone</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">perm_contact_calendar</i>
                <input
                  id="datepicker"
                  type="text"
                  class="datepicker text-input"
                  formControlName="dateOfBirthday"
                  #datepicker
                />
                <label class="datepicker-label" for="datepicker"
                  >Birthday</label
                >
              </div>
            </div>
          </div>
          <div class="buttons-row">
            <button class="btn-cancel" type="button" (click)="cancelChanges()">
              Cancel
            </button>
            <button class="btn-save" type="submit" [disabled]="!isFormChange()">
              Save
            </button>
          </div>
        </form>
      </div>
      <div id="privacy" class="privacy">
        <h5 class="main-info__title">Private settings</h5>
        <form class="form" [formGroup]="form" (submit)="updatePrivateInfo()">
          <div class="inputs-wrapper col s12">
            <div class="row">
              <div
                class="input-field col s6"
                [ngClass]="{
                  invalid:
                    form.get('email').invalid && form.get('email').touched
                }"
              >
                <i class="material-icons prefix">email</i>
                <input
                  id="email"
                  type="email"
                  class="validate text-input"
                  formControlName="email"
                />
                <label for="email">Email*</label>
                <div class="error-p helper-text">
                  <p
                    *ngIf="
                      form.get('email').invalid && form.get('email').touched
                    "
                  >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('email').errors['required']"
                      >Email is required!</span
                    >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('email').errors['email']"
                      >Email is invalid!</span
                    >
                  </p>
                </div>
              </div>
              <div
                class="input-field col s6"
                [ngClass]="{
                  invalid:
                    form.get('currentPassword').invalid &&
                    form.get('currentPassword').touched
                }"
              >
                <i class="material-icons prefix">lock</i>
                <input
                  id="currentPassword"
                  type="password"
                  class="validate text-input"
                  formControlName="currentPassword"
                />
                <label for="currentPassword">Current password</label>
                <div class="error-p helper-text">
                  <p
                    *ngIf="
                      form.get('currentPassword').invalid &&
                      form.get('currentPassword').touched
                    "
                  >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('currentPassword').errors['required']"
                      >Password is required!</span
                    >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('currentPassword').errors['minlength']"
                      >Minimum length is
                      <strong>{{
                        form.get("currentPassword").errors["minlength"]
                          .requiredLength
                      }}</strong>
                      now is
                      <strong>{{
                        form.get("currentPassword").errors["minlength"]
                          .actualLength
                      }}</strong>
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div
                class="input-field col s6"
                [ngClass]="{
                  invalid:
                    form.get('password').invalid && form.get('password').touched
                }"
              >
                <i class="material-icons prefix">lock</i>
                <input
                  id="password"
                  type="password"
                  class="validate text-input"
                  formControlName="password"
                />
                <label for="password">New password</label>
                <div class="error-p helper-text">
                  <p
                    *ngIf="
                      form.get('password').invalid &&
                      form.get('password').touched
                    "
                  >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('password').errors['required']"
                      >Password is required!</span
                    >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('password').errors['minlength']"
                      >Minimum length is
                      <strong>{{
                        form.get("password").errors["minlength"].requiredLength
                      }}</strong>
                      now is
                      <strong>{{
                        form.get("password").errors["minlength"].actualLength
                      }}</strong>
                    </span>
                  </p>
                </div>
              </div>
              <div
                class="input-field col s6"
                [ngClass]="{
                  invalid:
                    form.get('confirmPassword').invalid &&
                    form.get('confirmPassword').touched
                }"
              >
                <i class="material-icons prefix">lock</i>
                <input
                  id="c-password"
                  type="password"
                  class="validate text-input"
                  formControlName="confirmPassword"
                />
                <label for="c-password">Confirm new password</label>
                <div class="error-p helper-text">
                  <p
                    *ngIf="
                      form.get('confirmPassword').invalid &&
                      form.get('confirmPassword').touched
                    "
                  >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('confirmPassword').errors['required']"
                      >Password is required!</span
                    >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('confirmPassword').errors['notSame']"
                      >Password don't match</span
                    >
                    <span
                      class="error-span helper-text"
                      *ngIf="form.get('confirmPassword').errors['minlength']"
                      >Minimum length is
                      <strong>{{
                        form.get("confirmPassword").errors["minlength"]
                          .requiredLength
                      }}</strong>
                      now is
                      <strong>{{
                        form.get("confirmPassword").errors["minlength"]
                          .actualLength
                      }}</strong>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <div class="switch">
                <label class="switch__label">
                  Show your profile
                  <input type="checkbox" formControlName="isShowProfile" />
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="buttons-row">
            <button class="btn-cancel" type="button" (click)="cancelChanges()">
              Cancel
            </button>
            <button class="btn-save" type="submit" [disabled]="!isFormChange()">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
