@import "../../styles/variables.scss";

.edit-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px;
  &__title {
    text-align: center;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.nav-bar {
  width: auto;
  height: 48px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: none;
}

.links {
  display: flex;
  flex-direction: column;
  background: none;
  color: black;

  &__item {
    color: $color-black;
    font-size: 20px;
    font-weight: 500;
  }
}

.active-link {
  background: $side-nav-background;
  color: $color-white;
}

.content {
  flex: 1;
  height: 100%;
}

hr {
  border: none;
  height: 1px;
  background: $main-text-color;
  width: 100%;
  opacity: 0.5;
}

// PERSONAL INFO STYLES

.main-info,
.privacy {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 40px 20px;
  height: 100%;
  gap: 20px;
  flex-direction: column;
  &__title {
    text-align: center;
  }
}
.active {
  display: flex !important;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  flex: 1;
}

.row {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: baseline;
}

.text-input {
  width: 80% !important;
  height: 40px !important;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.15) !important;
  background: #f2f2f2;
  border-radius: 50px !important;
  padding-left: 20px !important;
  background: #f2f2f2 !important;
  color: $main-text-color !important;
  &::placeholder {
    color: $main-text-color !important;
    opacity: 0.5;
    padding-left: 20px;
  }
}

//INPUTS STYLES (Colors)

/* label color */
.input-field label {
  color: $main-text-color;
}
/* label focus color */
.input-field input:focus + label {
  color: $color-light-blue !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid $color-light-blue !important;
  box-shadow: 0 1px 0 0 $color-light-blue !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: $color-light-blue !important;
}

// INVALID FORM STYLES

/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid $color-red;
  box-shadow: 0 1px 0 0 $color-red;
}

.invalid {
  .input-field label,
  .input-field,
  .input-field .prefix.active,
  .input-field input:focus + label {
    color: $color-red;
  }
  .input-field input:focus {
    border-bottom: 1px solid $color-red;
    box-shadow: 0 1px 0 0 $color-red;
  }
  .text-input {
    border-bottom: 1px solid $color-red;
    box-shadow: 0 1px 0 0 $color-red;
  }
}

label {
  padding-left: 20px;
}

.text-input {
  height: 40px !important;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px !important;
  padding: 0 20px !important;
  background: #f2f2f2;
  color: $main-text-color !important;
  &::placeholder {
    color: $main-text-color !important;
    opacity: 0.5;
  }
}

.error-span {
  padding: 0 10px;
  color: $color-red;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-cancel {
  @include main-btn-blue(150px, 40px, 20px);
}

.btn-save {
  @include main-btn-orange(150px, 40px, 20px);
}

// TABS STYLES

.tabs .tab a {
  color: $main-text-color;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.tabs .tab a.active {
  color: $color-white;
  background: $background-linear-color-violet;
}

.tabs {
  background: none;
}


// SWITCHER styles

.switch{
  &__label{
    font-size: 20px;
  }
}

.avatar{
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-self: center;
  border-radius: 50%;
  &__img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.edit-avatar-btn{
  position: absolute;
    bottom: 0;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #E0E0E0;
    box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
