@import "../../styles/variables.scss";

.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

//WALLPAPER BLOCK

.wallpaper {
  position: relative;
}

.parallax-container {
  min-height: 150px;
  max-height: 150px;
  z-index: 1;
  img{
    transform: none !important;
    left: 0 !important;
  }
}

.avatar-wrapper {
  position: absolute;
  width: 180px;
  height: 180px;
  bottom: -60px;
  left: 50px;
  z-index: 2;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

// CONTENT BLOCK

.content-wrapper {
  flex: 1;
  display: flex;
  gap: 20px;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 280px;
  height: 100%;
}

.user-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: $color-white;
  padding: 100px 40px 50px 40px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  &__btn {
    &_message {
      @include main-btn-orange(205px, 50px, 20px);
    }
    &_friend {
      @include main-btn-blue(205px, 50px, 20px);
    }
  }
}

.buttons-row {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.contacts {
  color: $main-text-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__name {
    font-size: 20px;
    font-weight: 500;
  }

  &__el {
    font-size: 14px;
    opacity: 0.5;
    line-height: 14px;
  }
}

.user-friends-wrapper {
  height: 280px;
  background: $color-white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.contact-buttons-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

// INFO AND POSTS

.info-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  height: 100%;
  margin-top: 40px;
  position: relative;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: $color-white;
  padding: 20px 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.editor {
  margin-bottom: 45px;
  &__add-post-btn {
    align-self: flex-end;
    @include main-btn-orange(100px, 40px, 16px);
  }

  &__cancel-edit {
    @include main-btn-blue(100px, 40px, 16px);
  }
}

.posts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.friends {
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: 500;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 10px;
  }
}

hr {
  border: none;
  height: 1px;
  background: $main-text-color;
  width: 100%;
  opacity: 0.5;
  margin-bottom: 20px;
}

.friend-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
  }

  &__name {
    text-align: center;
    font-size: 12px;
  }
}

.img-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.no-posts {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 500px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .img-wrapper {
    width: 350px;
    height: 350px;
  }

  &__title {
    text-align: center;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}
