<div class="profile">
  <!-- WALLPAPER + AVATAR BLOCK-->

  <div class="wallpaper">
    <div class="parallax-container">
      <div class="parallax" #parallax>
        <img
          src="../../assets/images/profile-theme.png"
        />
      </div>
    </div>
    <div class="avatar-wrapper" *ngIf="user">
      <img
        class="avatar"
        src="{{ user.avatar || '../../assets/images/default-avatar.jpg' }}"
        alt="avatar"
      />
    </div>
  </div>

  <!-- CONTENT BLOCK = 2 blocks user + info -->

  <div class="content-wrapper">
    <!-- USER BLOCK -->

    <div class="user">
      <div class="user-contacts">
        <div class="contacts" *ngIf="user">
          <p class="contacts__name">
            <span *ngIf="user.firstName">{{ user.firstName }} </span>
            <span *ngIf="user.lastName">{{ user.lastName }}</span>
          </p>
          <p class="contacts__el contacts__country" *ngIf="user.about">
            {{ user.about.country ? user.about.country : "" }}
            {{ user.about.city }}
          </p>
          <p class="contacts__el contects__tel" *ngIf="user.about.mobileNumber">
            {{ user.about.mobileNumber }}
          </p>
          <p class="contacts__el contects__email">
            {{ user.email }}
          </p>
        </div>

        <div class="contact-buttons-row" *ngIf="user">
          <button
            class="user-contacts__btn user-contacts__btn_message"
            *ngIf="!isCurrentUser"
            (click)="goToChat(user._id)"
          >
            Message
          </button>
          <button
            class="user-contacts__btn user-contacts__btn_friend"
            *ngIf="!isCurrentUser && !isFriend()"
            (click)="addFriend()"
          >
            Add Friend
          </button>
          <button
            class="user-contacts__btn user-contacts__btn_friend"
            *ngIf="!isCurrentUser && isFriend()"
            (click)="removeFriend()"
          >
            Remove friend
          </button>
          <button
            class="user-contacts__btn user-contacts__btn_message"
            *ngIf="isCurrentUser"
            [routerLink]="['/main', 'edit-profile']"
          >
            Edit Profile
          </button>
          <button
            class="user-contacts__btn user-contacts__btn_friend"
            *ngIf="isCurrentUser"
            [routerLink]="['/main/people']"
            [queryParams]="{ findFriend: true }"
          >
            Find Friends
          </button>
        </div>
      </div>
      <div class="user-friends-wrapper">
        <div class="friends">
          <div class="friends__title" *ngIf="friendList">
            <h6>Friends</h6>
            <span>{{ friendList.length }}</span>
          </div>
          <hr />
          <div class="friends__list" *ngIf="friendsToShow">
            <div class="friend-info" *ngFor="let friend of friendsToShow">
              <div class="img-wrapper">
                <img
                  class="friend-info__img"
                  src="{{
                    friend.avatar || '../../assets/images/default-avatar.jpg'
                  }}"
                  (click)="goToProfile(friend._id)"
                  alt="friend-avatar"
                />
              </div>
              <p class="friend-info__name">
                {{ friend.firstName }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- POSTS INFO BLOCK-->
    <div class="info-block">
      <form
        class="editor-wrapper"
        [formGroup]="form"
        (submit)="savePost()"
        *ngIf="isCurrentUser"
      >
        <div class="editor">
          <quill-editor
            [modules]="modules"
            placeholder="What's happening?"
            formControlName="content"
          ></quill-editor>
        </div>
        <div class="buttons-row">
          <button
            class="editor__cancel-edit"
            type="button"
            *ngIf="!isNew"
            (click)="closeEditMode()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="editor__add-post-btn"
            [disabled]="form.invalid"
          >
            {{ isNew ? "Create post" : "Save" }}
          </button>
        </div>
      </form>

      <div class="posts" *ngIf="!isLoading; else loader">
        <div class="posts-wrapper" *ngIf="isBlocked(); else blocked">
          <div
            class="posts-wrapper"
            *ngIf="!!posts.length && !isLoading; else noPosts"
          >
            <app-post
              *ngFor="let post of posts"
              [post]="post"
              [user]="user"
              (onDelete)="deletePost($event)"
              (onEdit)="editPost($event)"
            ></app-post>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loader>
      <app-loader class="loader"></app-loader>
    </ng-template>
  </div>
</div>

<ng-template #noPosts>
  <div class="no-posts">
    <h2 class="no-posts__title">
      {{
        isCurrentUser
          ? "You didn't post anything yet"
          : "This user don't have posts"
      }}
    </h2>
    <div class="img-wrapper">
      <img
        class="no-posts__img"
        src="../../assets/images/travolta.png"
        alt="no-posts"
      />
    </div>
  </div>
</ng-template>

<ng-template #blocked>
  <div class="no-posts">
    <h2 class="no-posts__title">This is private account</h2>
    <div class="img-wrapper">
      <img
        class="no-posts__img"
        src="../../assets/images/lock.png"
        alt="no-posts"
      />
    </div>
  </div>
</ng-template>
