@import "../../../../styles/variables.scss";

.chat-wrapper {
  position: relative;
  height: 100%;
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  padding: 20px;
  flex: 1;
  max-height: 850px;
  overflow-y: scroll;
}

.message {
  background: $color-grey;
  border-radius: 10px;
  line-height: 20px;
  padding: 20px;
  align-self: flex-start;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__timestamp {
    text-align: end;
  }
}

.sender {
  background: $background-message-blue;
  border-radius: 10px;
  color: $color-white;
  align-self: flex-end;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $line-color-violet;
}

.back-btn {
  @include btn-reset();
  cursor: pointer;
}

.user-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  gap: 20px;
  &__avatar {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

.editor {
  padding: 20px;
  &__add-btn {
    align-self: flex-end;
    @include main-btn-orange(100px, 40px, 16px);
  }
}

.chat-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-chats {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}


::-webkit-scrollbar {
  width: 0.5rem; /* Ширина скроллбара */
  background-color: transparent; /* Цвет фона скроллбара */
}

/* Псевдоэлементы для настройки внешнего вида ползунка скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Цвет ползунка скроллбара */
  border-radius: 0.25rem; /* Закругление углов ползунка скроллбара */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет ползунка скроллбара при наведении */
}

/* Псевдоэлементы для настройки внешнего вида трека скроллбара */
::-webkit-scrollbar-track {
  background-color: transparent; /* Цвет трека скроллбара */
}