<div class="chat-wrapper">
  <div class="chat" *ngIf="chatWithUser && messages; else loader">
    <header class="header">
      <button class="back-btn" (click)="goToProfile()">
        <i class="medium material-icons">chevron_left</i>
      </button>
      <div class="user-info">
        <div class="user-info__avatar">
          <img [src]="chatWithUser.avatar" alt="avatar" />
        </div>
        <p class="user-info__name">
          {{ chatWithUser.firstName }} {{ chatWithUser.lastName }}
        </p>
      </div>
    </header>
    
    <div class="messages-wrapper">
      <div
        class="message"
        *ngFor="let message of messages"
        [ngClass]="{ sender: isSender(message) }"
      >
        <p class="message__timestamp">
          {{ message.timestamp | date : "medium" }}
        </p>
        <quill-view-html
          class="message__content"
          [content]="message.content"
        ></quill-view-html>
      </div>
    </div>
    <div class="editor">
      <form class="chat-form" [formGroup]="form" (submit)="addMessage()">
        <quill-editor
          [modules]="modules"
          placeholder="Write a message"
          formControlName="message"
        ></quill-editor>
        <button type="submit" class="editor__add-btn" [disabled]="form.invalid">Message</button>
      </form>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader class="loader"></app-loader>
</ng-template>


