@import "../../styles/variables.scss";

.news {
  display: flex;
  gap: 20px;
  height: 100%;
  flex-wrap: wrap;
  &__title-wrapper {
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
  }
}

.row{
  margin: 0;
}

.news-list-wrapper {
  position: relative;
  flex: 1;
  padding: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  height: 100%;
}
.news-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.filters {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  &__title {
    text-align: center;
    color: $main-text-color;
    font-size: 20px;
    font-weight: 500;
  }
}

.filters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  margin: 0 !important;
  padding: 0 !important;
}

.text-input {
  width: 80% !important;
  height: 40px !important;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px !important;
  padding-left: 20px !important;
  background: #f2f2f2 !important;
  color: $main-text-color !important;
  &::placeholder {
    color: $main-text-color !important;
    opacity: 0.5;
    padding-left: 20px;
  }
}

/* label color */
.input-field label {
  color: $main-text-color;
  padding: 0 10px;
}
/* label focus color */
.input-field input:focus + label {
  color: $color-light-blue;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid $color-light-blue;
  box-shadow: 0 1px 0 0 $color-light-blue;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: $color-light-blue;
}

.datepicker{
  position: relative;
}

.clear-icon {
  position: absolute;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}
