<div class="news">
  <div class="news__title-wrapper">
    <h2 class="news__title">You can find some latest posts</h2>
  </div>

  <div class="news-list-wrapper">
    <ng-template #loader>
      <app-loader class="loader"></app-loader>
    </ng-template>
    <div class="news-list" *ngIf="posts; else loader">
      <app-post
        *ngFor="
          let post of posts
            | spliceposts : postsQuantity
            | searchPostByContent : searchValue
            | filterPostsByDate : selectedDate
        "
        [post]="post"
        [isCurrentUser]="false"
      ></app-post>
    </div>
  </div>
  <div class="filters">
    <h6 class="filters__title">FILTERS</h6>
    <div class="filters-wrapper">
      <div class="switch">
        <label class="switch__label">
          Show all time posts
          <input
            type="checkbox"
            (change)="toggleShowAll()"
            [value]="isShowAll"
          />
          <span class="lever"></span>
        </label>
      </div>
      <div class="search-wrapper">
        <div class="row inputs-wrapper">
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input
              id="searchByName"
              type="text"
              class="validate text-input"
              [(ngModel)]="searchValue"
            />
            <label for="searchByName">Search by content</label>
          </div>
        </div>
      </div>
      <div class="date-picker">
        <div class="input-field col s6">
          <i class="material-icons prefix">perm_contact_calendar</i>
          <input
            id="datepicker"
            type="text"
            class="datepicker text-input"
            #datepicker
            [(ngModel)]="selectedDate"
          />
          <i class="clear-icon material-icons prefix" (click)="clearDate()">clear</i>
          <label class="datepicker-label" for="datepicker">Posted after</label>
        </div>
      </div>
    </div>
  </div>
</div>
