<div class="dialog" *ngIf="user" [ngClass]="{ active: isCurrentDialog }" (click)="readMessages()">
  <div class="avatar-wrapper">
    <img class="dialog__img" [src]="user.avatar" alt="avatar" />
  </div>
  <div class="info">
    <p class="info__name">{{ user.firstName }} {{ user.lastName }}</p>
    <p class="info__email">{{ user.email }}</p>
  </div>
  <span class="new badge" *ngIf="unreadedMessages.length">
    {{ unreadedMessages.length }}
  </span>
</div>
