@import "../../../../styles/variables.scss";

.dialog {
  display: flex;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  &:hover {
    background: $color-white;
  }
}

.avatar-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  &__name {
    font-weight: 500;
   
  }
}

.active {
  background: $color-white;
}

.badge{
  background: $color-light-blue !important;
  font-weight: 500 !important;
}