<div class="main-page">
  <div class="side-nav-wrapper">
    <nav class="side-nav">
      <div class="logo-wrapper">
        <img
          class="side-nav__logo-img"
          src="../../../../assets/images/main-logo.png"
          alt="Logo"
        />
      </div>
      <hr />
      <ul class="links">
        <li
          class="links__item"
          routerLink="/main/profile"
          routerLinkActive="active-link"
        >
          <span class="top-angle top-angle_back"></span
          ><span class="top-angle top-angle_front"></span
          ><a><i class="material-icons">home</i>Main page</a
          ><span class="bottom-angle bottom-angle_back"></span
          ><span class="bottom-angle bottom-angle_front"></span>
        </li>
        <li
          class="links__item"
          routerLink="/main/messages"
          routerLinkActive="active-link"
        >
          <span class="top-angle top-angle_back"></span
          ><span class="top-angle top-angle_front"></span
          ><a><i class="material-icons">mail</i>Messages</a
          ><span class="bottom-angle bottom-angle_back"></span
          ><span class="bottom-angle bottom-angle_front"></span>
        </li>
        <li
          class="links__item"
          routerLink="/main/people"
          routerLinkActive="active-link"
        >
          <span class="top-angle top-angle_back"></span
          ><span class="top-angle top-angle_front"></span
          ><a><i class="material-icons">people</i>Friends</a
          ><span class="bottom-angle bottom-angle_back"></span
          ><span class="bottom-angle bottom-angle_front"></span>
        </li>
        <li
          class="links__item"
          routerLink="/main/news"
          routerLinkActive="active-link"
        >
          <span class="top-angle top-angle_back"></span
          ><span class="top-angle top-angle_front"></span
          ><a><i class="material-icons">featured_play_list</i>News</a
          ><span class="bottom-angle bottom-angle_back"></span
          ><span class="bottom-angle bottom-angle_front"></span>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content-wrapper">
    <header class="header">
      <div class="fixed-action-btn icon-wrapper">
        <button class="exit-btn" (click)="logout()">
          <i class="material-icons">exit_to_app</i>
        </button>
      </div>
    </header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="alert-wrapper">
    <app-alert></app-alert>
  </div>
  
</div>
