@import "../../../../styles/variables.scss";
.main-page {
  display: flex;
  height: 100%;
  background: $background-color-grey;
}

.side-nav {
  height: 100%;
  width: 300px;
  background: $side-nav-background;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  &__logo-img {
    width: 100%;
    height: 100%;
  }
  hr {
    width: 80%;
    border-color: $line-color-violet;
    margin-top: 20px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: $background-color-grey;
  width: 80%;
  align-self: flex-end;
  margin-top: 60px;
  gap: 10px;

  &__item {
    position: relative;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 40px;
      &:hover {
        background: none;
      }
    }
    .top-angle {
      position: absolute;
      box-sizing: border-box;
      border: none;
      width: 30px;
      height: 30px;
      right: 0;
      top: -30px;
      &_front {
        border-radius: 0px 0px 30px 0px;
        background: $side-nav-background;
      }
      &_back {
        background: $background-color-grey;
      }
    }

    .bottom-angle {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 0;
      bottom: -30px;
      background: $side-nav-background;
      &_front {
        border-radius: 0px 30px 0px 0px;
        background: $side-nav-background;
      }
      &_back {
        background: $background-color-grey;
      }
    }
    a {
      font-size: inherit;
      color: inherit;
    }
  }
}

.top-angle,
.bottom-angle {
  display: none;
}

.active-link {
  position: relative;
  background: $background-color-grey;
  font-size: 20px;
  font-weight: 600;
  color: $main-text-color;
  border: none;
  border-radius: 30px 0px 0px 30px;
  .top-angle,
  .bottom-angle {
    display: block;
  }
  a {
    height: 60px;
  }
}

.logo-wrapper {
  width: 114px;
  height: 80px;
  display: flex;
  gap: 20px;
  align-self: center;
  margin-top: 40px;
}

.header {
  width: 100%;
  min-height: 80px;
  background: $background-linear-color-violet;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.1px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.content {
  flex: 1;
  margin: 20px 120px 40px 20px;
}

.fixed-action-btn {
  position: static;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bacground-linear-color-orange;
  border-radius: 50%;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

ul,
li {
  transition: none;
}

.exit-btn {
  @include btn-reset();
  font-size: 20px;
  color: $color-white;
  cursor: pointer;
}


