@import '../../../../styles/variables.scss';

.comment {
    display: flex;
    flex-direction: column;
    background: $color-white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px 30px;
  }
  
  .avatar-wrapper {
    width: 60px;
    height: 60px;
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    &__btn {
      align-self: flex-start;
    }
  }

  .user-info {
    display: flex;
    gap: 20px;
    &__img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: $main-text-color;
    &__name {
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
    }
    &__date {
      font-size: 14px;
      opacity: 0.5;
      font-weight: 300;
    }
  }

  .fixed-action-btn {
    position: static;

    &__items {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 20px;
      right: 5px !important;
      top: 40% !important;
    }
    &__btn-more {
      &_i {
        color: $main-text-color;
        font-size: 1.5rem;
      }
      &_a {
        box-shadow: none;
        opacity: 0.5;
      }
    }
  }

  .edit-remove-btns{
    display: flex;
    align-items: baseline;
  }

  .comment-content{
    padding: 0 80px;
    flex: 1;
  }

