<div class="comment">
  <div class="comment-header">
    <div class="user-info">
      <div class="avatar-wrapper">
        <img
          class="user-info__img"
          src="{{
            comment.avatarUrl ||
              '../../../../../assets/images/default-avatar.jpg'
          }}"
          alt="avatar"
        />
      </div>
      <div class="info">
        <p class="info__name" (click)="goToProfile()">
          {{ comment.authorFirstName || "" }} {{ comment.authorLastName || "" }}
        </p>
        <p class="info__date">{{ comment.timestamp | date : "medium" }}</p>
      </div>
    </div>
    <div
      [ngClass]="
        !isCommentAuthor(comment.author) ? 'dp-n' : 'fixed-action-btn-wrapper'
      "
    >
      <div class="fixed-action-btn">
        <a class="btn-floating btn-small white fixed-action-btn__btn-more_a">
          <i class="small material-icons fixed-action-btn__btn-more_i"
            >more_horiz</i
          >
        </a>
        <ul class="fixed-action-btn__items small edit-remove-btns">
          <li>
            <a
              class="btn-floating btn-small red hidden-btn"
              (click)="removeComment()"
              ><i class="material-icons">delete</i></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="comment-content">
    <quill-view-html [content]="comment.content"></quill-view-html>
  </div>
</div>
