@import "../../styles/variables.scss";

.friends {
  display: flex;
  flex-direction: column;
}

.active {
  display: flex !important;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px !important;
}

.tabs .tab a {
  color: $main-text-color;
  background: $color-grey;
  font-weight: 500;
}

.tabs .tab a.active {
  color: $color-white;
  background: $background-linear-color-violet;
}

.tabs {
  background-color: $color-white;
  width: 50%;
  margin: 0 !important;
}

.tab {
  a {
    display: flex !important;
  }
}

.friends {
  height: 100%;

  background: $color-white;
}

.col {
  padding: 0;
}

.text-input {
  width: 80% !important;
  height: 40px !important;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px !important;
  padding-left: 20px !important;
  background: #f2f2f2 !important;
  color: $main-text-color !important;
  &::placeholder {
    color: $main-text-color !important;
    opacity: 0.5;
    padding-left: 20px;
  }
}

/* label color */
.input-field label {
  color: $main-text-color;
}
/* label focus color */
.input-field input:focus + label {
  color: $color-light-blue;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid $color-light-blue;
  box-shadow: 0 1px 0 0 $color-light-blue;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: $color-light-blue;
}

.search-wrapper {
  position: relative;
  width: 50%;
  box-sizing: border-box;
}

.inputs-wrapper {
  display: flex;
  justify-content: flex-end;
}

.content-wrapper {
  display: flex;
  height: 100%;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  gap: 20px;
}

.filters {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  &__title {
    text-align: center;
    color: $main-text-color;
    font-size: 20px;
    font-weight: 500;
  }
}

.filters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  flex: 1;
  height: 100%;
  position: relative;
  &__block {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 100%;
  }
}

.users-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.row {
  margin: 0;
}

.age-input {
  width: 100%;
  &__title {
    font-size: 0.8rem;
    color: #9e9e9e;
  }
  &__item {
    text-align: center !important;
  }
}

.age-inputs-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input-field {
  margin: 0 !important;
}

.pagination {
  display: flex;
  li {
    cursor: pointer;
  }

  .active {
    background: $color-light-blue;
  }
}
