<div class="row friends">
  <div class="header col s12">
    <ul class="tabs" #tabs>
      <li class="tab col s3">
        <a href="#friends">My friends</a>
      </li>
      <!-- <li class="tab col s3"><a href="#requests">Requests</a></li> -->
      <li class="active" class="tab col s3">
        <a href="#people">Find people</a>
      </li>
    </ul>
    <div class="search-wrapper">
      <div class="row inputs-wrapper">
        <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
          <input
            id="searchByName"
            type="text"
            class="validate text-input"
            [(ngModel)]="searchValue"
            (ngModelChange)="searchUsers()"
          />
          <label for="searchByName">Search by name</label>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <div id="friends" class="col content__block s12">
        <div class="users-wrapper" *ngIf="users; else loader">
          <app-user
            *ngFor="
              let user of users
                | friendlist : currentUserId
                | filterbyage : ageFrom : ageTo
                | searchByName : searchValue
                | filterByLocation : selectedCountry : selectedCity
            "
            [user]="user"
            (onAddFriend)="onAddFriend($event)"
            (onDeleteFriend)="onDeleteFriend($event)"
          ></app-user>
        </div>
      </div>
      <div id="people" class="col content__block s12">
        <div class="users-wrapper" *ngIf="users; else loader">
          <app-user
            *ngFor="let user of displayedUsers"
            [user]="user"
            (onAddFriend)="onAddFriend($event)"
            (onDeleteFriend)="onDeleteFriend($event)"
          ></app-user>
        </div>
        <div class="paginator-wrapper">
          <ul class="pagination">
            <li class="waves-effect1" (click)="previousPage()">
              <a><i class="material-icons">chevron_left</i></a>
            </li>
            <li
              *ngFor="let page of pages"
              [class.active]="currentPage === page"
              class="waves-effect1"
              (click)="goToPage(page)"
            >
              <a>{{ page }}</a>
            </li>
            <li class="waves-effect1" (click)="nextPage()">
              <a><i class="material-icons">chevron_right</i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="filters">
      <h6 class="filters__title">FILTERS</h6>
      <div class="filters-wrapper">
        <div class="select-wrapper">
          <label>Filter by Country</label>
          <select
            class="browser-default"
            [(ngModel)]="selectedCountry"
            (ngModelChange)="searchUsers()"
          >
            <option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </option>
          </select>
        </div>
        <div class="select-wrapper">
          <label>Filter by City</label>
          <select
            class="browser-default"
            [(ngModel)]="selectedCity"
            (ngModelChange)="searchUsers()"
          >
            <option *ngFor="let city of cities" [value]="city">
              {{ city }}
            </option>
          </select>
        </div>
        <div class="inputs-wrapper">
          <div class="row age-input">
            <p class="age-input__title">Age:</p>
            <div class="age-inputs-wrapper">
              <div class="input-field col s4">
                <input
                  id="from"
                  type="text"
                  class="validate age-input__item"
                  [(ngModel)]="ageFrom"
                  (ngModelChange)="searchUsers()"
                />
                <label for="from">From</label>
              </div>
              <div class="input-field col s4">
                <input
                  id="to"
                  type="text"
                  class="validate age-input__item"
                  [(ngModel)]="ageTo"
                  (ngModelChange)="searchUsers()"
                />
                <label for="to">To</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader class="loader"></app-loader>
</ng-template>
