<div class="register-wrapper">
  <div class="register">
    <div class="header-wrapper">
      <div class="header">
        <div class="image-wrapper">
          <img
            class="register__logo"
            [src]="avatarPreview"
            alt="user-avatar"
            *ngIf="avatarPreview"
          />
          <img
            class="register__logo_defaul"
            src="../../assets/images/register-img-default.png"
            alt="default-reg-img"
            *ngIf="!avatarPreview"
          />
          <div class="edit-avatar-btn" (click)="triggerClickInput()">
            <i class="material-icons tiny">add_a_photo</i>
            <input (change)="onFileUpload($event)" type="file" style="display: none" #input />
          </div>
        </div>
      </div>
      <div class="under-logo">
        <div class="square"><p>S</p></div>
        <div class="square"><p>I</p></div>
        <div class="square"><p>G</p></div>
        <div class="square"><p>N</p></div>
        <div class="square"></div>
        <div class="square"><p>U</p></div>
        <div class="square"><p>P</p></div>
      </div>
    </div>

    <form class="form" [formGroup]="form" (submit)="register()">
      <div class="inputs-wrapper col s12">
        <div class="row">
          <div
            class="input-field col s6"
            [ngClass]="{
              invalid:
                form.get('firstName').invalid && form.get('firstName').touched
            }"
          >
            <i class="material-icons prefix">account_circle</i>
            <input
              id="firstName"
              type="text"
              class="validate text-input"
              formControlName="firstName"
            />
            <label for="firstName">First Name*</label>
            <div class="error-p helper-text">
              <p
                *ngIf="
                  form.get('firstName').invalid && form.get('firstName').touched
                "
              >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('firstName').errors['required']"
                  >First name is required!</span
                >
              </p>
            </div>
          </div>
          <div
            class="input-field col s6"
            [ngClass]="{
              invalid:
                form.get('lastName').invalid && form.get('lastName').touched
            }"
          >
            <i class="material-icons prefix">account_circle </i>
            <input
              id="lastName"
              type="text"
              class="validate text-input"
              formControlName="lastName"
            />
            <label for="lastName">Last Name*</label>
            <div class="error-p helper-text">
              <p
                *ngIf="
                  form.get('lastName').invalid && form.get('lastName').touched
                "
              >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('lastName').errors['required']"
                  >Last name is required!</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="input-field col s6"
            [ngClass]="{
              invalid:
                form.get('country').invalid && form.get('country').touched
            }"
          >
            <i class="material-icons prefix">location_on</i>
            <input
              id="country"
              type="text"
              class="validate text-input"
              formControlName="country"
            />
            <label for="country">Country*</label>
            <div class="error-p helper-text">
              <p
                *ngIf="
                  form.get('country').invalid && form.get('country').touched
                "
              >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('country').errors['required']"
                  >Country is required!</span
                >
              </p>
            </div>
          </div>
          <div
            class="input-field col s6"
            [ngClass]="{
              invalid: form.get('city').invalid && form.get('city').touched
            }"
          >
            <i class="material-icons prefix">location_city</i>
            <input
              id="city"
              type="text"
              class="validate text-input"
              formControlName="city"
            />
            <label for="city">City*</label>
            <div class="error-p helper-text">
              <p *ngIf="form.get('city').invalid && form.get('city').touched">
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('city').errors['required']"
                  >City is required!</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input
              id="tel"
              type="tel"
              class="validate text-input"
              formControlName="mobileNumber"
            />
            <label for="tel">Telephone</label>
          </div>
          <div
            class="input-field col s6"
            [ngClass]="{
              invalid: form.get('email').invalid && form.get('email').touched
            }"
          >
            <i class="material-icons prefix">email</i>
            <input
              id="email"
              type="email"
              class="validate text-input"
              formControlName="email"
            />
            <label for="email">Email*</label>
            <div class="error-p helper-text">
              <p *ngIf="form.get('email').invalid && form.get('email').touched">
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('email').errors['required']"
                  >Email is required!</span
                >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('email').errors['email']"
                  >Email is invalid!</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="input-field col s6"
            [ngClass]="{
              invalid:
                form.get('password').invalid && form.get('password').touched
            }"
          >
            <i class="material-icons prefix">lock</i>
            <input
              id="password"
              type="password"
              class="validate text-input"
              formControlName="password"
            />
            <label for="password">Password*</label>
            <div class="error-p helper-text">
              <p
                *ngIf="
                  form.get('password').invalid && form.get('password').touched
                "
              >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('password').errors['required']"
                  >Password is required!</span
                >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('password').errors['minlength']"
                  >Minimum length is
                  <strong>{{
                    form.get("password").errors["minlength"].requiredLength
                  }}</strong>
                  now is
                  <strong>{{
                    form.get("password").errors["minlength"].actualLength
                  }}</strong>
                </span>
              </p>
            </div>
          </div>
          <div
            class="input-field col s6"
            [ngClass]="{
              invalid:
                form.get('confirmPassword').invalid &&
                form.get('confirmPassword').touched
            }"
          >
            <i class="material-icons prefix">lock</i>
            <input
              id="c-password"
              type="password"
              class="validate text-input"
              formControlName="confirmPassword"
            />
            <label for="c-password">Confirm password*</label>
            <div class="error-p helper-text">
              <p
                *ngIf="
                  form.get('confirmPassword').invalid &&
                  form.get('confirmPassword').touched
                "
              >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('confirmPassword').errors['required']"
                  >Password is required!</span
                >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('confirmPassword').errors['notSame']"
                  >Password don't match</span
                >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('confirmPassword').errors['minlength']"
                  >Minimum length is
                  <strong>{{
                    form.get("confirmPassword").errors["minlength"]
                      .requiredLength
                  }}</strong>
                  now is
                  <strong>{{
                    form.get("confirmPassword").errors["minlength"].actualLength
                  }}</strong>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="button-row">
        <button
          class="form__submit-btn"
          type="submit"
          [disabled]="form.invalid"
        >
          Sign up
        </button>
        <p class="to-login">
          Do you have an account?
          <a class="to-login__link" routerLink="/login"> Login now! </a>
        </p>
      </div>
    </form>
  </div>
  <div class="alert-container">
    <app-alert></app-alert>
  </div>
</div>
