<div class="user" *ngIf="user">
  <div class="logo">
    <div class="image-wrapper">
      <img
        class="logo__img"
        src="{{ user.avatar || '../../assets/images/default-avatar.jpg' }}"
        alt="avatar"
      />
    </div>
  </div>
  <div class="info">
    <p class="info__fullname">
      <strong>{{ user.firstName }} {{ user.lastName }}</strong>
    </p>
    <p class="info__birthday" *ngIf="user.dateOfBirthday">
      {{ user.dateOfBirthday | date : "mediumDate" }}
    </p>
    <p class="info__adress">
      <span *ngIf="user.about.country">{{ user.about.country }}: </span
      ><span *ngIf="user.about.city">{{ user.about.city }}</span>
    </p>
    <p class="info__email">{{ user.email }}</p>
    <p class="info__mobile-number" *ngIf="user.about.mobileNumber">
      {{ user.about.mobileNumber }}
    </p>
  </div>
  <div class="buttons-row">
    <ul class="links">
      <li class="links__item" (click)="goToProfile()"><a>Go to profile</a></li>
      <li class="links__item" *ngIf="isFriend()" (click)="removeFromFriends()">
        <a>Remove from friends</a>
      </li>
      <li class="links__item" *ngIf="!isFriend()" (click)="addToFriends()">
        <a>Add to friends</a>
      </li>
      <li class="links__item" (click)="goToChat(user._id)">
        <a>Write message</a>
      </li>
    </ul>
  </div>
</div>
