@import "../../../../styles/variables.scss";

.user {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px;
}

.image-wrapper {
  width: 100px;
  height: 100px;
}

.logo {
  &__img {
    width: 100%;
    height: 100%;
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;

  &__fullname{
    margin-bottom: 5px;
    font-size: 18px;

  }
}

.buttons-row {
  width: 20%;
}


.links{
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__item{
    cursor: pointer;
    font-weight: 500;
  }
}