<div class="messages">
  <div class="list">
    <h4 class="list__title">Chats</h4>
    <hr />
    <div class="dialogs-wrapper" *ngIf="dialogsIdsArr; else loader">
      <app-dialog
        *ngFor="let userId of dialogsIdsArr"
        [userId]="userId"
        [routerLink]="userId"
        [messages]="getAllUserMessages(userId)"
        routerLinkActive="active"
      ></app-dialog>
    </div>
    <ng-template #loader>
      <app-loader class="loader"></app-loader>
    </ng-template>
  </div>
  <div class="chat">
    <router-outlet></router-outlet>
  </div>
</div>
