@import "../../styles/variables.scss";

.messages {
  display: flex;
  gap: 20px;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  width: 30%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  &__title {
    text-align: center;
  }
}

.chat {
  flex: 1;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
}

hr {
  border: none;
  height: 1px;
  background: $main-text-color;
  width: 100%;
  opacity: 0.5;
  margin-bottom: 20px;
}

.dialogs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.active {
  background: $color-white;
}
