@import "../../styles/variables.scss";

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.login {
  display: flex;
  flex-direction: column;
  width: 710px;
  height: 700px;
  background: $color-white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;

  &__logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.header {
  height: 150px;
  width: 100%;
  position: relative;
  background: $background-linear-color-violet;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-radius: 50%;
  background: rgba(252, 252, 252, 0.5);
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}

.square {
  width: 20px;
  height: 20px;
  background: $color-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 18px;
    font-weight: 600;
    color: $main-text-color;
  }
}

.under-logo {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  flex: 1;
  justify-content: space-between;
  padding: 20px;
  &__submit-btn {
    @include btn-reset();
    color: $color-white;
    font-size: 20px;
    width: 205px;
    height: 50px;
    background: $bacground-linear-color-orange;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 48px;
    &:hover {
      background: $color-white;
      color: $color-orange;
      border: 1px solid $color-orange;
    }
  }
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.button-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.text-input {
  height: 40px !important;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px !important;
  padding: 0 20px !important;
  background: #f2f2f2 !important;
  color: $main-text-color !important;
  &::placeholder {
    color: $main-text-color !important;
    opacity: 0.5;
  }
}

.row {
  margin: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}

label {
  padding-left: 20px;
}

.to-register {
  &__link {
    cursor: pointer;
  }
}

//INPUTS STYLES (Colors)

/* label color */
.input-field label {
  color: $main-text-color;
}
/* label focus color */
.input-field input:focus + label {
  color: $color-light-blue;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid $color-light-blue;
  box-shadow: 0 1px 0 0 $color-light-blue;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: $color-light-blue;
}

// INVALID FORM STYLES

/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid $color-red;
  box-shadow: 0 1px 0 0 $color-red;
}

.invalid {
  .input-field label,
  .input-field,
  .input-field .prefix.active,
  .input-field input:focus + label {
    color: $color-red;
  }
  .input-field input:focus {
    border-bottom: 1px solid $color-red;
    box-shadow: 0 1px 0 0 $color-red;
  }
  .text-input {
    border-bottom: 1px solid $color-red;
    box-shadow: 0 1px 0 0 $color-red;
  }
}

.error-span {
  padding: 0 10px;
  color: $color-red;
}

.alert-container {
  position: absolute;
  bottom: -30px;
}
