<div class="login-wrapper">
  <div class="login">
    <div class="header-wrapper">
      <div class="header">
        <div class="image-wrapper">
          <img
            class="login__logo-default"
            src="../../assets/images/login-logo.png"
            alt="logo"
          />
        </div>
      </div>
      <div class="under-logo">
        <div class="square"><p>S</p></div>
        <div class="square"><p>I</p></div>
        <div class="square"><p>G</p></div>
        <div class="square"><p>N</p></div>
        <div class="square"></div>
        <div class="square"><p>I</p></div>
        <div class="square"><p>N</p></div>
      </div>
    </div>

    <form class="form col s12" [formGroup]="form" (submit)="login()">
      <div class="inputs-wrapper">
        <div
          class="row"
          [ngClass]="{
            invalid: form.get('email').invalid && form.get('email').touched
          }"
        >
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input
              id="email"
              type="email"
              class="validate text-input"
              formControlName="email"
            />
            <label for="email">Email</label>
            <div class="error-p helper-text">
              <p *ngIf="form.get('email').invalid && form.get('email').touched">
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('email').errors['required']"
                  >Email is required!</span
                >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('email').errors['email']"
                  >Email is invalid!</span
                >
              </p>
            </div>
          </div>
        </div>
        <div
          class="row"
          [ngClass]="{
            invalid:
              form.get('password').invalid && form.get('password').touched
          }"
        >
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input
              id="password"
              type="password"
              formControlName="password"
              class="validate text-input"
            />
            <label for="password">Password</label>
            <div class="error-p helper-text">
              <p
                *ngIf="
                  form.get('password').invalid && form.get('password').touched
                "
              >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('password').errors['required']"
                  >Password is required!</span
                >
                <span
                  class="error-span helper-text"
                  *ngIf="form.get('password').errors['minlength']"
                  >Minimum length is
                  <strong>{{
                    form.get("password").errors["minlength"].requiredLength
                  }}</strong>
                  now is
                  <strong>{{
                    form.get("password").errors["minlength"].actualLength
                  }}</strong>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="button-row">
        <button
          class="form__submit-btn"
          type="submit"
          [disabled]="form.invalid"
        >
          Login
        </button>
        <p class="to-register">
          Don't have account?
          <a class="to-register__link" routerLink="/register"> Sing up! </a>
        </p>
      </div>
    </form>
  </div>
  <div class="alert-container">
    <app-alert></app-alert>
  </div>
</div>
