//Colors
$color-white: white;
$color-grey: #d9d9d9;
$color-orange: #ff802e;
$color-light-blue: #38c1fe;
$color-red: #f44336;
$color-green: green;
$color-black: black;

//ALERT COLORS
$alert-success: #28a745;
$alert-warning: #ffc107;
$alert-danger: #dc3545;
$alert-info: #17a2b8;

//Theme colors
$side-nav-background: #253a6c;
$line-color-violet: #6592fe;
$main-text-color: #253a6c;
$background-color-grey: #f5f5f5;
$background-message-grey: #f2f2f2;

$background-message-blue: linear-gradient(
  96.64deg,
  #6188e8 7.88%,
  #6592fe 46.34%,
  #507add 105.85%
);

$background-linear-color-violet: linear-gradient(
  96.64deg,
  #6592fe 7.88%,
  #36c3fe 46.34%,
  #6592fe 105.85%
);
$bacground-linear-color-orange: linear-gradient(
  92.42deg,
  #ff802e 8.81%,
  #f05423 93.55%
);

@mixin btn-reset() {
  border: none;
  background: none;
  &[disabled] {
    background: $color-grey;
    &:hover {
      background: $color-grey;
      color: $color-white;
      border: none;
    }
  }
}

@mixin main-btn($width, $height, $fontSize) {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 48px;
  width: $width;
  height: $height;
  border: none;
  box-sizing: border-box;
  font-size: $fontSize;
  font-weight: 600;
  &:disabled,
  &:disabled:hover {
    background: $color-grey;
    color: $color-white;
    border: none;
  }
}

@mixin main-btn-white($width, $height, $fontSize) {
  @include main-btn($width, $height, $fontSize);
  border: 1px solid #ff802e;
  color: #ff802e;
  background: $color-white;
  &:hover {
    background: linear-gradient(92.42deg, #ff802e 8.81%, #f05423 93.55%);
    color: $color-white;
    border: none;
  }
}

@mixin main-btn-orange($width, $height, $fontSize) {
  @include main-btn($width, $height, $fontSize);
  background: linear-gradient(92.42deg, #ff802e 8.81%, #f05423 93.55%);
  color: $color-white;
  &:hover {
    border: 1px solid #ff802e;
    color: #ff802e;
    background: $color-white;
  }
}

@mixin main-btn-blue($width, $height, $fontSize) {
  @include main-btn($width, $height, $fontSize);
  border: 1px solid #36c3fe;
  color: #36c3fe;
  background: $color-white;
  &:hover {
    background: $background-linear-color-violet;
    color: $color-white;
    border: none;
  }
}
