<div class="wrapper" *ngIf="text">
    <div
      class="alert"
      [ngClass]="{
        alert__success: type === 'success',
        alert__warning: type === 'warning',
        alert__danger: type === 'danger',
        alert__info: type === 'info'
      }"
    >
      <span class="alert__text">
        {{ text }}
      </span>
      <button class="alert__close">
        <i class="small material-icons"(click)="closeAlert()">clear</i>
      </button>
    </div>
  </div>
  